<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-danger btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <!-- <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a> -->
        <br><br>
        <li style="text-align:center"><img src="img/profile_photo.jpg" width="150" style="border-radius:75px"></li>
        <li style="text-align:center"><h2 style="color:white">Alex Vallorosi</h2></li>
        <li style="color:white;text-align:center;margin:30px;line-height:20px;"><p>That's Me! I am really interested in code and want to attend Carnegie Mellon University for the fall semester of 2014.</p></li>
        <li><a href="#top">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
          <h1 style="font-family:bodoni;color:#AF1E2D">Carnegie Mellon</h1>
        <h1 style="color:white">And Alex V.</h1>
        <h3><em>We</em> Build Great Templates, <em>You</em> Make Them Better</h3>
        <a href="#about" class="btn btn-default btn-lg">Find Out More</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
              <h1 style="font-family:Impact;font-size:10em;text-align:center;background-image:url('img/code.png');-webkit-background-clip:text;background-clip:text;color:rgba(0,0,0,0);background-position:center;background-attachment:fixed;background-repeat:none;">CODE</h1>
            <h2>Is something that is very important to me. Apparently it is to you too!</h2>
            <p class="lead">Over the past year I've made quantum leaps in my programming ability. Note to save for later: <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->

    <!-- Services -->
    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Some Things I Do</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-github-alt"></i>
              <h4>Open Source</h4>
              <p>I make a lot of Open Source contributions on Github. You can check out my contributions by clicking on the icon!</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
                <img src="img/backbone.png" width="140">
              <h4>Backbone.js</h4>
              <p>Backbone is a client side MVC framework built in JavaScript. As a frontend developer, I do most of my work in Backbone.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
                <img src="img/angular.png" width="140">
              <h4>Angular.js</h4>
              <p>Angular is a great framework built by Google that I use in a lot of my sites! Even this one uses Angular!</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-pencil"></i>
              <h4>Grooveshark?</h4>
              <p>I think maybe I'll put a little thing here about grooveshark.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="callout">
      <div class="vert-text">
          <h1 style="font-family:Impact;font-size:10em;text-align:center;background-image:url('img/code.png');-webkit-background-clip:text;background-clip:text;color:rgba(0,0,0,0);background-position:center;background-attachment:fixed;background-repeat:none;">SOFTWARE</h1>
        <h1>A Dramatic Text Area</h1>
      </div>
    </div>

    <div id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Some Of My Work</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src="http://www.placehold.it/360x252"></a>
              <h4>Lorem Ipsum</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src="http://www.placehold.it/360x252"></a>
              <h4>Dolor Sit Amet</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src="http://www.placehold.it/360x252"></a>
              <h4>Dolor Sit Amet</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src="http://www.placehold.it/360x252"></a>
              <h4>Lorem Ipsum</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>The buttons below are impossible to resist.</h3>
            <a href="#" class="btn btn-lg btn-default">Click Me!</a>
            <a href="#" class="btn btn-lg btn-primary">Look at Me!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->

    <div id="about" class="intro" ng-controller="VoteCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
			<h1>{{ votes }} Votes</h1>
			<a ng-click="voteUp()"><i class="fa fa-thumbs-o-up" style="font-size:100px;display:inline;margin:50px;cursor:pointer;"></i></a>
              <h1 style="display:inline;line-height:100px;margin:50px;font-size:100px;padding-right:300px;"> or </h1>
              <div id="thumb-down" style="position:absolute;z-index:10;right:50px;top:50px;cursor:pointer;"><span id="q" style="font-size:100px;opacity:0;">?</span><a id="downvote" ng-click="voteDown()"><i class="fa fa-thumbs-o-down" style="font-size:100px"></i></a></div>
			<p class="lead">You can help me by voting for whether or not I should be accepted!</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Map -->
    <div id="contact" class="map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a></small></iframe>
    </div>
    <!-- /Map -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><i class="fa fa-facebook fa-3x"></i></li>
              <li><i class="fa fa-twitter fa-3x"></i></li>
              <li><i class="fa fa-dribbble fa-3x"></i></li>
            </ul>
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            <hr>
            <p>Copyright &copy; Alex Vallorosi 2013</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
        $("#sidebar-wrapper").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<script src="js/VoteCtrl.js"></script>
    <script src="js/fun.js"></script>

  </body>

</html>