<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Help me break in to Carnegie Mellon</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <a id="menu-toggle" href="#" class="btn btn-danger btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <!-- <a id="menu-close" href="#" class="btn btn-danger btn-lg toggle"><i class="fa fa-bars"></i></a> -->
        <li class="center" style="margin-top:50px;"><img src="img/profile_photo.jpg" width="150" style="border-radius:75px" alt="Profile Picture"></li>
        <li class="center"><h2 style="color:white">Alex Vallorosi</h2></li>
        <li class="center" style="color:white;margin:30px;line-height:20px;"><p>That's Me! I am really interested in learning computer science and want to attend Carnegie Mellon University for the fall semester of 2014.</p></li>
        <li><a href="doc/resume.pdf" class="sidebar-link" target="_blank"><i class="fa fa-book" style="margin-right:10px;"></i>My Resume</a></li>
        <li><a href="http://www.alexvallorosi.com" class="sidebar-link" target="_blank"><i class="fa fa-user" style="margin-right:10px;"></i>My Portfolio</a></li>
      </ul>
    </div>

    <div class="header">
      <div class="vert-text">
          <h1 style="font-family:bodoni;color:#AF1E2D;">Carnegie Mellon</h1>
        <h1 style="color:white">And Alex V.</h1>
        <h3 style="color:white">This is why Carnegie Mellon should accept <em>me.</em></h3>
      </div>
    </div>

    <div class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
              <h1 style="font-family:Impact;font-size:10em;text-align:center;background-image:url('img/code.png');-webkit-background-clip:text;background-clip:text;color:rgba(0,0,0,0);background-position:center;background-attachment:fixed;background-repeat:none;">CODE</h1>
            <h2>is something that is very important to me. Apparently it is to you too!</h2>
            <p class="lead">Over the past year I've made quantum leaps in my programming ability. This has lead me to discover many interesting things about computer science such as design patterns and other concepts</p>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Some Things I Do</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <div class="service-item">
                <a href="http://www.github.com/reddog9287" target="_blank"><img src="img/os.png" height="120" style="margin-top:10px;margin-bottom:10px;" alt="Open Source"></a>
              <h4>Open Source</h4>
              <p>I make a lot of Open Source contributions on Github. You can check out my contributions by clicking on the icon!</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
                <img src="img/backbone.png" width="140" alt="Backbone">
              <h4>Backbone.js</h4>
              <p>Backbone is a client side MVC framework built in JavaScript. As a frontend developer, I do most of my work in Backbone.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
                <img src="img/angular.png" width="140" alt="Angular">
              <h4>Angular.js</h4>
              <p>Angular is a great framework built by Google that I use in a lot of my sites! Even this one uses Angular!</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
                <img src="http://static3.music-jobs.com/uploads/site_44/blog/2013/08/Grooveshark-logo.png" width="140" style="border-radius:70px" alt="Grooveshark">
              <h4>Grooveshark</h4>
              <p>Last summer I interned at Grooveshark. While I was here I learned Backbone and built a frontend feature with it.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <div class="service-item">
                <img src="http://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" height="140" alt="Ruby on Rails">
              <h4>Ruby on Rails</h4>
              <p>The backend of a site is just as important as the frontend. I am learning Ruby on Rails so I can better understand the backend.</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="service-item">
                <img src="http://www.o2networks.com.au/sites/default/files/vendors/AWS_LOGO_CMYK.png" height="140" alt="Amazon Web Services">
              <h4>AWS &amp; DigitalOcean</h4>
              <p>I typically deploy my web apps on AWS or DigitalOcean servers and I'm comfortable working in that environment. I've set up push to deploy services or simply used ssh and ftp. On these servers I set up web backends in Node.js or Ruby on Rails. This site is a Node server hosted on AWS!</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <img src="img/ru.png" width="120" style="margin-top:17px;margin-bottom:17px;" alt="HackRU">
              <h4>HackRU</h4>
              <p>I really enjoy going to hackathons. I built <a href="http://hackru.alexvallorosi.com" target="_blank">this</a> product at HackRU, and I am going to MHacks soon!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="callout">
      <div class="vert-text">
          <h1>I Work In</h1>
          <h1 style="font-family:Impact;font-size:10em;text-align:center;">NEW YORK CITY</h1>
        <h1>Building Web Products</h1>
      </div>
    </div>

    <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Some Of My Work</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="http://www.highlandsvoices.com" target="_blank"><img class="img-portfolio img-responsive" src="img/highlands_voices.png" alt="highlandsvoices.com"></a>
              <h4>Highlands Voices Website</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="http://www.generation3inc.com" target="_blank"><img class="img-portfolio img-responsive" src="img/g3.png" alt="generation3inc.com"></a>
              <h4>Generation III inc Website</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="http://www.grooveshark.com" target="_blank"><img class="img-portfolio img-responsive" src="img/profile_card.png" alt="grooveshark.com"></a>
              <h4>Grooveshark &middot; Profile Cards</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="http://www.fanaticaldetailers.com" target="_blank"><img class="img-portfolio img-responsive" src="img/fanatical_detailers.png" alt="fanaticaldetailers.com"></a>
              <h4>Fanatical Detailers LLC Website</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>But programming is not the only thing I've done.</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-medkit"></i>
              <h4>First Responder</h4>
              <p>Two years ago I trained to become a First Responder. I spent many hours serving my local ambulance corps.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <div style="border:3px solid white;border-radius:50%;width:140px;height:140px;margin-left:10px"><img src="img/football.png" width="100" style="padding-top:20px" alt="football"></div>
              <h4>Football</h4>
              <p>I played freshman and Junior Varsity football for two years. I continue to play intramural volleyball.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-truck"></i>
              <h4>Handyman</h4>
              <p>Throughout middle school and for three years in high school I worked as a handyman doing moving, painting, and general estate care.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-rocket"></i>
              <h4>FIRST Robotics</h4>
              <p>I am the two-year president of a state finalist FTC Robotics Team. Our team is 3983 Highlands Undefined.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
              <h2>I want to bring a <em>passionate</em> and well rounded individual to Carnegie Mellon.</h2>
            <p class="lead">Most of all, I want to teach what I know and get the best education that I can about the principles of computer science.<p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="intro" ng-controller="VoteCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
			<h1>{{ result.upvotes - result.downvotes }} Votes</h1>
			<a ng-click="voteUp()"><i class="fa fa-thumbs-o-up" style="font-size:100px;display:inline;margin:50px;cursor:pointer;"></i></a>
              <h1 style="display:inline;line-height:100px;margin:50px;font-size:100px;padding-right:300px;"> or </h1>
              <div id="thumb-down" style="position:absolute;z-index:10;right:50px;top:50px;cursor:pointer;"><span id="q" style="font-size:100px;opacity:0;">?</span><a id="downvote" ng-click="voteDown()"><i class="fa fa-thumbs-o-down" style="font-size:100px"></i></a></div>
			<p class="lead">You can help me by voting for whether or not I should be accepted!</p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><a href="http://blog.alexvallorosi.com" target="_blank"><i class="fa fa-tumblr fa-3x"></i></a></li>
              <li><a href="http://www.twitter.com/alexvallorosi" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
              <li><a href="http://www.linkedin.com/pub/alex-vallorosi/49/673/4ab" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></li>
              <li><a href="http://www.github.com/reddog9287" target="_blank"><i class="fa fa-github-alt fa-3x"></i></a></li>
            </ul>
            <a href="https://news.ycombinator.com/submit" class="hn-button" data-count="horizontal" target="_blank">Vote on Hacker News</a>
            <script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
            <hr>
            <p>Copyright &copy; Alex Vallorosi 2013</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-40994034-2', 'iwanttogotocarnegiemellon.com');
	  ga('send', 'pageview');

	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<script src="js/VoteCtrl.js"></script>
    <script src="js/fun.js"></script>
  </body>
</html>