/* Global Styles */

@font-face {
    font-family: impactMobile;
    src: url(../fonts/impact.ttf);
}

@font-face {
    font-family: bodoni;
    src: url(../fonts/bodoni.ttf);
}

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10000;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/callout.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

.center {
    text-align: center;
}

.nyc {
    font-family:Impact, impactMobile;
    font-size:10em!important;
    text-align:center;
}

.cm {
    font-family: bodoni;
    color:#AF1E2D;
}

.bio {
    color:white;
    margin:30px;
    line-height:20px;
}

.shadow {
     text-shadow: 0px 5px 2px #000;
}

.code {
	color: white;
    font-family:Impact, impactMobile;
    font-size:10em;
    text-align:center;
    background-image:url('../img/code.png');
    -webkit-background-clip:text;
    background-clip:text;
	-webkit-text-fill-color: transparent;
/*    color:rgba(0,0,0,0);*/
    background-position:center;
    background-attachment:fixed;
    background-repeat:none;
}

.or {
    display:inline;
    line-height:100px;
    margin:50px;
    font-size:100px;
    padding-right:300px;
}

.thumbs-up {
    font-size:100px;
    display:inline;
    margin:50px;
    cursor:pointer;
}

#thumb-down {
    position:absolute;
    z-index:10;
    right:50px;
    top:100px;
    cursor:pointer;
}

.football {
    border:3px solid white;
    border-radius:50%;
    width:140px;
    height:140px;
    margin-left:10px;
}

.round {
    border-radius:50%;
}

.aws {
    height: 140px;
}

/* Responsive */

@media (max-width: 768px) {

  .header {
	background: url(../img/background.jpg) no-repeat center center scroll;
  }

  .callout {
	background: url(../img/callout.jpg) no-repeat center center scroll;
  }

  .code {
      color: inherit;
  }

  .football {
      margin-left:75px;
  }

  .aws {
      height: 100px;
  }

  .or {
      padding-right:0;
  }

  #thumb-down {
      right: 120px;
      top: 420px;
  }

  .nyc {
      font-size: 4.5em;
  }

}